*{
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
    
}
body{
    background-color:rgb(228, 228, 228);  
    color: rgb(71, 71, 71);  
    font-family: 'Righteous', cursive;
}

    /* HEADER */

.container-logo {
    background-color: white;
    height: 80px;
    line-height: 80px;     
}

.logo{
    margin-left: 20px;
    vertical-align: middle;
}
.title{
    display: inline-block;
    /* font-size: 30px; */
    color: black;
    font-family:'Cherry Bomb One', cursive;    
    vertical-align: middle;    
}

    /* MAIN */

main{    
    margin: 20px 20%;
}    
.menu{
    padding: 0px 50px;
    line-height: 70px; 
    background-color: white;
    margin-bottom: 5px;
    border-radius: 10px 10px 0 0;
}

.all-info{
    padding: 50px;
    background-color: white;
    border-radius: 0 0 10px 10px;
}

    /* SEZIONI NOTIFICHE */

.notification{
    cursor:pointer;
    display: inline-block;
    color: white;
    font-size: 0.65rem;
    padding: 5px 10px;
    border-radius: 10px;   
}
.Editorial{
    background-color: #45abe9;
}
.q1-goals{
    background-color: #9c72e4;
}

.Recruiting{
    background-color: #64c0a9;
}

.Mobile{
    background-color: #f29d33;
}

.Website{
    background-color: #d863a1;
}

.Sales{
    background-color: #b0c926;
}

    /* SEZIONE VERO O FALSO(?) */

.mini-task{
    margin: 10px 0px;
}

.arrow{
font-size: 1rem;
}

.item{
    display: inline-block;
    height: 20px;
    width: 20px;

    line-height: 15px;
    text-align: center;
 

    border-radius: 50%;
    font-weight: 900;
    border: 1px solid currentColor;
}

.item.item-true{

    color: rgba(5, 175, 5, 0.664);    
}

.item.item-false{
    color: rgba(255, 6, 6, 0.664);    
}

    /* INPUNT/PULSANTI */

input{
    padding: 5px 10px;
    border-radius: 8px;
    
}

.section{
    background-color: transparent;
    color: rgb(175, 175, 175);
    border-color: rgba(175, 175, 175, 0.5);
}
.task{
    background-color: #45abe9;
    color: rgb(255, 255, 255);
    border-color: transparent;
}

sub{
margin-left: 45%;
    font-size: 12px;
    font-style: italic;
}

.mini-task > *{
    vertical-align: middle;
}